*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    display: grid;
    grid-template-columns: 3fr 2fr 4fr 4fr 2fr 3fr;
}

.header-logo {
    position: relative;
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
}

.header-logo>img {
    position: absolute;
    max-width: 70px;
    top: 53px;
    right: -15px;
}

.header-emx {
    grid-column: 4;
    grid-row: 1;
    justify-self: start;
}

.header-emx > div {
    font-family: "Open Sans Light", "Open Sans", sans-serif;
    font-size: 9px;
    letter-spacing: 3px;
    color: rgb( 174, 174, 174);
    border-left: 1px solid rgb( 174, 174, 174);
    padding-left: 1em;
    margin-left: 3em;
    margin-top: 53px;
}

.header-logo, .header-emx {
    align-self: center;
    min-height: 10em;
}

.header-header {
    font-family: "Open Sans Extrabold", "Open Sans", sans-serif;
    font-size: 29px;
    color: rgb( 71, 71, 71);
    grid-column: 3/5;
    grid-row: 2;
    text-transform: uppercase;
    justify-self: center;
    align-items: center;
    text-align: center;
    min-height: 7em;
}

.header-content {
    font-size: 13px;
    color: rgb( 71, 71, 71);
    line-height: 1.389;
    text-align: left;
    grid-column: 3;
    grid-row: 3;
    padding-right: 1em;
}

.header-content-1 {
    padding-bottom: 1em;
}

.header-content-2 {
    font-family: "Open Sans Extrabold", "Open Sans", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.intelligence {
    grid-column: 4;
    grid-row: 3;
    font-size: 10px;
    color: rgb( 71, 71, 71);
    line-height: 2.143;
    text-align: left;
    padding-left: 2em;
}

.forms {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1em;
}

.forms .input {
    grid-column: 2/5;
    justify-self: stretch;
    width: 100%;
    min-height: 2em;
}

.form-1, .form-3, .form-5, .form-7 {
    grid-column: 1;
    align-self: center;
}

.form-2, .form-4, .form-6, .form-8, .form-9, .form-10 {
    grid-column: 2/5;
    padding-bottom: 1em;
}

.form-2 input, .form-4 input, .form-6 input, .form-8 input {
    box-shadow: 0 0 10px 5px #cccccc;
    border: none;
}

.form-9 {
    margin-top: -1em;
    padding-bottom: 1em;
}

.form-10>input {
    width: 100%;
    min-height: 3em;
    color: #ffffff;
    background-color: #336699;
    text-align: center;
}

.header-content, .intelligence {
    min-height: 22em;
    border-bottom: 1px solid #336699;
}
.header-footer {
    grid-column: 3;
    grid-row: 4;
    color: rgb( 42, 42, 42 );
    justify-self: start;
}

.header-media {
    grid-column: 4;
    grid-row: 4;
    color: rgb( 137, 137, 137 );
    justify-self: end;
    text-align: end;
}

.header-footer, .header-media {
    font-size: 10px;
    min-height: 11em;
    padding-top: 2em;
}

.header-footer {
    position: relative;
}

.header-footer-adres {
    padding-bottom: 15px;
}

.header-footer-phone {
    font-size: 14px;
}

.header-footer-adres > a, .header-footer-phone > a {
    text-decoration: none;
    color: rgb( 42, 42, 42 );
}

.location > img, .phone > img {
    position: absolute;
}

.location img {
    top: 15px;
}

.location div, .phone div {
    padding-left: 25px;
}
