*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f0f0f0;
    min-width: 800px;
}

.header {
    display: grid;
    grid-template-columns: 3fr 2fr 4fr 4fr 2fr 3fr;
}

.header-logo {
    position: relative;
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
}

.header-logo>img {
    position: absolute;
    max-width: 70px;
    top: 53px;
    right: -15px;
}

.header-emx {
    grid-column: 4;
    grid-row: 1;
    justify-self: start;
}

.header-emx>div {
    font-family: "Open Sans Light", "Open Sans", sans-serif;
    font-size: 9px;
    letter-spacing: 3px;
    color: rgb( 174, 174, 174);
    border-left: 1px solid rgb( 174, 174, 174);
    padding-left: 1em;
    margin-left: 3em;
    margin-top: 53px;
}

.header-logo, .header-emx {
    align-self: center;
    min-height: 10em;
}

.header-header {
    font-family: "Open Sans Extrabold", "Open Sans", sans-serif;
    font-size: 29px;
    color: rgb( 71, 71, 71);
    grid-column: 3/5;
    grid-row: 2;
    text-transform: uppercase;
    justify-self: center;
    align-items: center;
    text-align: center;
    min-height: 7em;
}

.header-content {
    font-size: 13px;
    color: rgb( 71, 71, 71);
    line-height: 1.389;
    text-align: left;
    grid-column: 3;
    grid-row: 3;
    padding-right: 1em;
}

.header-content-1 {
    padding-bottom: 1em;
}

.header-content-2 {
    font-family: "Open Sans Extrabold", "Open Sans", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.intelligence {
    grid-column: 4;
    grid-row: 3;
    font-size: 10px;
    color: rgb( 71, 71, 71);
    line-height: 2.143;
    text-align: left;
    padding-left: 2em;
}

.forms {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1em;
}

.forms .input {
    grid-column: 2/5;
    justify-self: stretch;
    width: 100%;
    min-height: 2em;
}

.form-1, .form-3, .form-5, .form-7 {
    grid-column: 1;
    align-self: center;
}

.form-2, .form-4, .form-6, .form-8, .form-9, .form-10 {
    grid-column: 2/5;
    padding-bottom: 1em;
}

.form-2 input, .form-4 input, .form-6 input, .form-8 input {
    box-shadow: 0 0 10px 5px #cccccc;
    border: none;
}

.form-9 {
    margin-top: -1em;
    padding-bottom: 1em;
}

.form-10>input {
    width: 100%;
    min-height: 3em;
    color: #ffffff;
    background-color: #336699;
    text-align: center;
}

.header-content, .intelligence {
    min-height: 287px;
    border-bottom: 1px solid rgb( 70, 118, 169);
}

.header-footer {
    grid-column: 3;
    grid-row: 4;
    color: rgb( 42, 42, 42);
    justify-self: start;
}

.header-media {
    grid-column: 4;
    grid-row: 4;
    color: rgb( 137, 137, 137);
    justify-self: end;
    text-align: end;
}

.header-footer, .header-media {
    font-size: 10px;
    min-height: 11em;
    padding-top: 2em;
}

.header-media>.share {
    margin-bottom: 10px;
}

.header-footer {
    position: relative;
}

.header-footer-adres {
    padding-bottom: 15px;
}

.header-footer-phone {
    font-size: 14px;
}

.header-footer-adres>a, .header-footer-phone>a {
    text-decoration: none;
    color: rgb( 42, 42, 42);
}

.location>img, .phone>img {
    height: 20px;
    position: absolute;
    z-index: 3;
}

.location img {
    top: 15px;
}

.location div, .phone div {
    padding-left: 25px;
}

.social {
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    text-align: center;
}

.social>img {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border-style: solid;
}

.social-fb>img {
    border-color: rgb( 74, 110, 169);
}

.social-tw>img {
    border-color: rgb( 94, 169, 221);
}

.social-pt>img {
    border-color: rgb( 203, 32, 40);
}

.social-ml>img {
    border-color: rgb( 0, 168, 170);
}

.social-you>img {
    border-color: rgb( 207, 52, 39);
}

.social-in>img {
    border-color: rgb( 0, 123, 182);
}

.header-cubes {
    position: relative;
    grid-column: 2;
    grid-row: 1;
}

.header-cubes>.cubes {
    position: absolute;
    top: 20px;
    left: -37px;
    width: 155px;
    z-index: 3;
    opacity: .7;
}

.header-cubes>.cubes_shadow {
    position: absolute;
    top: 16px;
    left: -40px;
    width: 240px;
    z-index: -1;
}

.header-flower {
    position: relative;
    grid-column: 5/7;
    grid-row: 1;
    justify-items: end;
    align-items: start;
}

.header-flower>.flower {
    position: absolute;
    width: 390px;
    z-index: -1;
    top: 0;
    right: 0;
}

.header-flower>.flower_shadow {
    position: absolute;
    width: 315px;
    z-index: -3;
    top: 0;
    right: 0;
}

.header-notepad {
    position: relative;
    grid-column: 1;
    grid-row: 3/5;
}

.header-notepad>.notepad, .header-notepad>.notepaper_shadow {
    position: absolute;
    top: 37px;
    left: 30px;
}

.header-notepad>.notepad {
    z-index: -5;
    width: 229px;
}

.header-notepad>.notepaper_shadow {
    z-index: -7;
    width: 308px;
}

.header-notepad>.clamp_shadow {
    position: absolute;
    width: 48px;
    z-index: -3;
    top: 33px;
    left: 84px;
}

.header-notepad>.clamp_shadow_2 {
    position: absolute;
    width: 48px;
    z-index: -3;
    top: 10px;
    left: 128px;
}

.header-notepad>.rectangle {
    z-index: -1;
    position: absolute;
    width: 40px;
    top: 133px;
    left: 102px;
}

.header-notepad>.postit {
    position: absolute;
    width: 104px;
    top: 205px;
    left: 248px;
}

.header-pen {
    position: relative;
    grid-column: 5;
    grid-row: 3;
    border-bottom: 1px solid rgb( 70, 118, 169);
}

.header-pen>.pen {
    position: absolute;
    width: 139px;
    top: 144px;
    left: 73px;
}

.header-border-bottom {
    grid-column: 2;
    grid-row: 3;
    border-bottom: 1px solid rgb( 70, 118, 169);
    z-index: -9;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 3fr 1fr 2fr;
    max-width: 1300px;
    margin: auto;
}

footer .header-footer {
    grid-column: 3;
    justify-self: start;
}

footer .header-media {
    grid-column: 4;
    justify-self: end;
}

footer .header-footer, footer .header-media {
    grid-row: 1;
    padding: 20px 0 40px;
    margin-top: -60px;
}

@media (max-width: 1185px) {
    .header {
        grid-template-columns: 2fr 1fr 3fr 3fr 1fr 2fr;
    }
    .header-header {
        font-size: 27px;
    }
    .header-flower>.flower {
        width: 300px;
    }    
    .header-flower>.flower_shadow {
        width: 241px;
    }
    .header-notepad>.notepad, .header-notepad>.notepaper_shadow {
        top: 39px;
    }
    .header-notepad>.clamp_shadow {
        top: 35px;
    }
    .header-notepad>.clamp_shadow_2 {
        top: 12px;
    }
    .header-notepad>.rectangle {
        top: 135px;
    }
    .header-notepad>.postit {
        top: 207px;
    }
    .header-pen>.pen {
        top: 145px;
    }
}

@media (max-width: 1092px) {
    .header {
        grid-template-rows: 1fr 1fr 1fr 2fr 0.4fr 0.4fr;
        max-width: 1092px;
    }
    .header-content {
        min-height: 100px;
        grid-column: 3/5;
        grid-row: 3;
        border-bottom: 0px;
    }
    .intelligence {
        min-height: 100px;
        grid-column: 3/5;
        grid-row: 4;
    }
    .header-media {
        grid-column: 3/5;
        grid-row: 6;
        align-self: start;
    }
    .header-footer {
        grid-column: 3/5;
        grid-row: 5;
        padding-left: 120px;
    }
    .header-footer, .header-media {
        font-size: 10px;
        min-height: 1em;
    }
    .header-notepad {
        grid-column: 1;
        grid-row: 4;
        align-self: center;
    }    
    .header-pen {
        grid-column: 5;
        grid-row: 4;
        align-self: center;
        border-bottom: 0;
    }
    .header-border-bottom {
        border-bottom: 0;
    }
    .header-notepad>.notepad, .header-notepad>.notepaper_shadow {
        top: -62px;
    }
    .header-notepad>.clamp_shadow {
        top: -66px;
    }
    .header-notepad>.clamp_shadow_2 {
        top: -89px;
    }
    .header-notepad>.rectangle {
        top: 134px;
    }
    .header-notepad>.postit {
        top: 106px;
    }
    .header-pen>.pen {
        top: 45px;
        left: 0;
    }
}
